@model IEnumerable<PCRegistSystem.Models.PCManageInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IPAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IPAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MachineType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
